.skill-rating {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skill-rating-label {
    font-weight: 600;
    font-size: 1rem;
}

.rating-icons {
    display: flex;
}

.rating-icon {
    font-size: 3rem;
    cursor: pointer;
    transition: color 0.2s;
    user-select: none;
    padding: 5px;
}

.fa-regular.fa-futbol {
    color: #ddd;
}

.fa-solid.fa-futbol {
    color: #28a745;
}

.rating-icon:hover {
    color: #1e7e34 !important;
}

@media (min-width: 768px) {
    .rating-icon {
        font-size: 3rem;
    }
}
