<div class="star-rating">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="star-rating-label">@Label</label>
    }
    <div class="stars">
        @for (int i = 1; i <= MaxRating; i++)
        {
            var index = i;
            <span class="star @(index <= _mouseOverIndex ? "filled" : "")"
                  @onclick="() => OnStarClick(index)" 
                  @onmouseenter="() => _mouseOverIndex = index" 
                  @onmouseleave="() => _mouseOverIndex = Value">
                ★
            </span>
        }
    </div>
</div>

@code {
    [Parameter]
    public int Value { get; set; } = 1;

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public int MaxRating { get; set; } = 3;

    private int _mouseOverIndex = 1;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        _mouseOverIndex = Value;

        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnStarClick(int rating)
    {
        Value = rating;
        await ValueChanged.InvokeAsync(Value);
    }
}
