.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(233, 233, 237, 0.06);
    border-radius: 6px;
    padding: 0.25rem 0.3rem;
    width: 1.8rem;
    box-sizing: border-box;
}

.skill-icons {
    display: flex;
    position: relative;
}

.skill-icon {
    font-size: 0.75rem;
    user-select: none;
    line-height: 1;
    position: relative;
    z-index: var(--star-index, 1);
}

.skill-icon:not(:first-child) {
    margin-left: -0.45rem;
}

.skill-icon.fa-regular {
    color: var(--color-divider);
}

.skill-icon.fa-solid {
    color: var(--color-accent);
}

@media (min-width: 768px) {
    .skill-icon {
        font-size: 0.85rem;
    }

    .skill-item {
        width: 2.2rem;
        padding: 0.3rem 0.35rem;
    }
}
